# Ignore virtual environment
coaching_venv_02/

# Ignore models directory
model/

#ignore data
data/

#ignore pycache
__pycache__/

.DS_Store/

.vscode/

cross_validation_report.json
final_training_report.json
